<!DOCTYPE html>
<html lang="en" data-theme="primary">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- import css -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

  <title>Raden Mohamad Rishwan</title>
</head>

<body>
  {{ embed }}
</body>

</html>