<div class="flex flex-row">
    <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col items-center justify-center">
            <!-- Page content here -->
            <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label>
    
        </div>
        <div class="drawer-side">
            <label for="my-drawer-2" class="drawer-overlay"></label>
            <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                <!-- Sidebar content here -->
                <li><a>Article</a></li>
                <li>
                    <form action="/admin/logout" method="post">
                        <input type="submit" value="Logout" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="bg-base-100">
        
    </div>
</div>