<div class="h-screen flex flex-col w-screen text-center">
    <form class="p-5 rounded-md shadow-sm gap-5 flex flex-col max-w-sm" method="post" action="/admin/login">
        <div class="form-control w-full">
            <label class="label">
                <span class="label-text">key</span>
            </label>
            <input type="text" placeholder="type key here" class="input input-bordered w-full" name="key"/>
        </div>

        <input type="submit" value="submit" class="btn btn-primary w-full" />
    </form>

    <div class="mt-10">
        <p class="text-md font-light text-gray-400">Admin panel v0.0.1</p>
    </div>
</div>