@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Doto:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-color: #1a1a1a;
  --text-color: #e1e1e1;
  --accent-color: #64ffda;
  --primary-color: #2ac5b3;
  --card-color: #252525;
  --hover-background: #2d2d2d;
  --appbar-color: #1a1a1a;
}

:root.light-mode {
  --background-color: #f0f2f5;
  --text-color: #2d2d2d;
  --accent-color: #2ac5b3;
  --primary-color: #218f82;
  --card-color: #ffffff;
  --hover-background: #e4e6e9;
  --appbar-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Doto", "Host Grotesk", "Anton SC";
  background: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

ul {
  list-style: none;
}

/* Add responsive design */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-menu {
    gap: 2rem;
  }
}

@media (max-width: 576px) {
  .navbar-menu {
    display: none; /* You might want to add a mobile menu hamburger here */
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave-emoji {
  display: inline-block;
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes rolling {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(10px) rotate(90deg);
  }
  50% {
    transform: translateX(0) rotate(180deg);
  }
  75% {
    transform: translateX(-10px) rotate(270deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.rolling-emoji {
  display: inline-block;
  animation: rolling 3.5s infinite;
  animation-delay: 10s;
  transform-origin: 70% 70%;
}

.button-link {
  background: none;
  border: none;
  color: var(--accent-color);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.button-link:hover {
  color: var(--primary-color);
}
