<section id="footer" class="bg-white">
    <div class="container mx-auto px-7 py-10 flex items-center justify-between">
       <p class="text-md font-light"> © 2023 by Raden Mohamad Rishwan.</p>
       <div class="flex gap-2">
        <a href="">
            <div class="p-2 bg-secondary rounded-md">
                <img src="/svg/github-142-svgrepo-com.svg" alt="" class="fill-secondary w-3 scale-100 hover:scale-[1.1] ease-out duration-100">
            </div>
        </a>
        <a href="">
            <div class="p-2 bg-secondary rounded-md">
                <img src="/svg/instagram-svgrepo-com.svg" alt="" class="fill-secondary w-3 scale-100 hover:scale-[1.1] ease-out duration-100">
            </div>
        </a>
        <a href="">
            <div class="p-2 bg-secondary rounded-md">
                <img src="/svg/linkedin-svgrepo-com.svg" alt="" class="fill-secondary w-3 scale-100 hover:scale-[1.1] ease-out duration-100">
            </div>
        </a>
        <a href="">
            <div class="p-2 bg-secondary rounded-md">
                <img src="/svg/twitter-154-svgrepo-com.svg" alt="" class="fill-secondary w-3 scale-100 hover:scale-[1.1] ease-out duration-100">
            </div>
        </a>
       </div>
    </div>
</section>