<nav class="bg-white w-full z-10 fixed">
    <div class="navbar container mx-auto px-4">
        <div class="navbar-start">
            <a class="btn btn-ghost normal-case text-md">Raden Mohamad Rishwan</a>
        </div>
        <div class="navbar-center">
            <a class="btn btn-ghost normal-case text-sm border-solid border-0 border-b hover:border-primary">Home</a>
            <a class="btn btn-ghost normal-case text-sm border-solid border-0 border-b hover:border-primary">Project</a>
            <a class="btn btn-ghost normal-case text-sm border-solid border-0 border-b hover:border-primary">Article</a>
            <a class="btn btn-ghost normal-case text-sm border-solid border-0 border-b hover:border-primary">Contact</a>
        </div>
    </div>
</nav>