{{template "partials/header" .}}

<section id="hero" class="container mx-auto px-7">
  <div class="w-full">
    <div class="flex flex-row justify-between">
      <div class="flex-col flex-2 self-center">
        <p class="text-4xl font-bold mb-3">RADEN MOHAMAD RISHWAN</p>
        <p class="text-md font-normal">A passionate developer who loves creating software <br>projects and writing
          articles.</p>
        <a href="#project" class="btn btn-outline mt-14">View Projects</a>
        <p class="text-sm font-light mt-2 text-secondary">*Let's build something amazing together.</p>
      </div>
      <div class="relative">
        <img src="/img/hero-profile.png" alt="hero" class="absolute image-full rounded-full -left-3 h-[500px]">
        <svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg" class="h-[600px] w-[500px]">
          <defs>
            <linearGradient id="b" gradientTransform="rotate(15 .5 .5)">
              <stop offset="0%" stop-color="#e5e16b" />
              <stop offset="100%" stop-color="#1fc4bc" />
            </linearGradient>
            <clipPath id="a">
              <path fill="currentColor"
                d="M754.5 623q-58.5 123-195 169.5T284 755q-139-84-147-259t133-281q141-106 326.5-87.5t201 195.5q15.5 177-43 300Z" />
            </clipPath>
          </defs>
          <g clip-path="url(#a)">
            <path fill="url(#b)"
              d="M754.5 623q-58.5 123-195 169.5T284 755q-139-84-147-259t133-281q141-106 326.5-87.5t201 195.5q15.5 177-43 300Z" />
          </g>
        </svg>
      </div>
    </div>
</section>

<section id="technology" class=" bg-white">
  <div class="container mx-auto px-7 w-full py-10 text-center animate__animated animate__fadeInDown">
    <p class="text-2xl font-bold">Technologies I Use</p>
    <p class="text-md font-light mt-6">I am proficient in the following technologies:</p>
    <div class="flex justify-center w-full mt-10 gap-x-8">
      <img src="https://go.dev/blog/go-brand/Go-Logo/SVG/Go-Logo_Aqua.svg" alt="go"
        class="scale-75 h-[50px] hover:scale-100">
      <img src="/svg/kotlin-svgrepo-com.svg" alt="kotlin"
        class="scale-75 h-[50px] duration-75 ease-linear hover:scale-100">
      <img src="/svg/flutter-svgrepo-com.svg" alt="flutter"
        class="scale-75 h-[50px] duration-75 ease-linear hover:scale-100">
      <img src="/svg/nodejs-icon-logo-svgrepo-com.svg" alt="nodejs"
        class="scale-75 h-[50px] duration-75 ease-linear hover:scale-100">
      <img src="/svg/typescript-official-svgrepo-com.svg" alt="typescript"
        class="scale-75 h-[50px] duration-75 ease-linear hover:scale-100">
      <img src="/svg/linux-svgrepo-com.svg" alt="linux"
        class="scale-75 h-[50px] duration-75 ease-linear hover:scale-100">
      <img src="/svg/docker-svgrepo-com.svg" alt="docker"
        class="scale-75 h-[50px] duration-75 ease-linear hover:scale-100">
    </div>
  </div>
</section>

<section id="project" class="container mx-auto px-7 w-full py-10 text-center">
  <p class="text-2xl font-bold">Recent Project</p>
  <p class="text-md font-light mt-6">Check out some of my recent work.</p>
  <div class="flex mt-20 w-full gap-x-20">
    <img src="https://unicorn-cdn.b-cdn.net/de205e3b-d341-41dd-8174-3ff6b8729876/" alt=""
      class="image-full max-w-[550px] w-[100%] rounded-xl scale-100 duration-100 ease-out hover:scale-[1.1]">
    <div class="w-full flex flex-col text-start justify-center">
      <div class="flex flex-row gap-2 content-center items-center">
        <img src="/svg/article-icon.svg" alt="" width="40">
        <p class="font-semibold text-md">Youtube Downloader</p>
      </div>
      <p class="font-light text-md mt-5">Tailored solutions to meet your specific needs.</p>
      <a href="#" class="flex gap-2 hover:gap-3 items-center mt-6">
        <p class="text-sm font-semibold text-secondary">Learn More </p>
        <img src="/svg/arrow-right.svg" alt="" class="w-3 hover:animate-bounce">
      </a>
    </div>
  </div>
  <div class="flex flex-row-reverse mt-20 w-full gap-x-20">
    <img src="https://unicorn-cdn.b-cdn.net/de205e3b-d341-41dd-8174-3ff6b8729876/" alt=""
      class="image-full max-w-[550px] w-[100%] rounded-xl scale-100 duration-100 ease-out hover:scale-[1.1]">
    <div class="w-full flex flex-col text-start justify-center">
      <div class="flex flex-row gap-2 content-center items-center">
        <img src="/svg/article-icon.svg" alt="" width="40">
        <p class="font-semibold text-md">Youtube Downloader</p>
      </div>
      <p class="font-light text-md mt-5">Tailored solutions to meet your specific needs.</p>
      <a href="#" class="flex gap-2 hover:gap-3 items-center mt-6">
        <p class="text-sm font-semibold text-secondary">Learn More </p>
        <img src="/svg/arrow-right.svg" alt="" class="w-3 hover:animate-bounce">
      </a>
    </div>
  </div>
  <div class="flex mt-20 w-full gap-x-20">
    <img src="https://unicorn-cdn.b-cdn.net/de205e3b-d341-41dd-8174-3ff6b8729876/" alt=""
      class="image-full max-w-[550px] w-[100%] rounded-xl scale-100 duration-100 ease-out hover:scale-[1.1]">
    <div class="w-full flex flex-col text-start justify-center">
      <div class="flex flex-row gap-2 content-center items-center">
        <img src="/svg/article-icon.svg" alt="" width="40">
        <p class="font-semibold text-md">Youtube Downloader</p>
      </div>
      <p class="font-light text-md mt-5">Tailored solutions to meet your specific needs.</p>
      <a href="#" class="flex gap-2 hover:gap-3 items-center mt-6">
        <p class="text-sm font-semibold text-secondary">Learn More </p>
        <img src="/svg/arrow-right.svg" alt="" class="w-3 hover:animate-bounce">
      </a>
    </div>
  </div>

  <a href="#" class="btn btn-outline btn-secondary mt-14">View All Projects</a>
</section>

<section id="article" class="bg-white">
  <div class="container mx-auto px-7 py-10 text-center">
    <p class="text-2xl font-bold">Hack! Articles</p>
    <p class="text-md font-light mt-6 mb-20">Sharing knowledge and insights through the art of writing.</p>
    <div class="grid grid-cols-3 gap-10">
      <article class="group scale-100 hover:scale-[1.1] ease-linear duration-100">
        <img alt="Lava"
          src="https://images.unsplash.com/photo-1631451095765-2c91616fc9e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
          class="h-56 w-full rounded-xl object-cover shadow-xl transition" />

        <div class="p-4">
          <a href="#">
            <h3 class="text-lg font-medium text-gray-900">
              Finding the Journey to Mordor
            </h3>
          </a>

          <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
            dolores, possimus pariatur animi temporibus nesciunt praesentium dolore
            sed nulla ipsum eveniet corporis quidem, mollitia itaque minus soluta,
            voluptates neque explicabo tempora nisi culpa eius atque dignissimos.
            Molestias explicabo corporis voluptatem?
          </p>
        </div>
      </article>
      <article class="group scale-100 hover:scale-[1.1] ease-linear duration-100">
        <img alt="Lava"
          src="https://images.unsplash.com/photo-1631451095765-2c91616fc9e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
          class="h-56 w-full rounded-xl object-cover shadow-xl transition" />

        <div class="p-4">
          <a href="#">
            <h3 class="text-lg font-medium text-gray-900">
              Finding the Journey to Mordor
            </h3>
          </a>

          <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
            dolores, possimus pariatur animi temporibus nesciunt praesentium dolore
            sed nulla ipsum eveniet corporis quidem, mollitia itaque minus soluta,
            voluptates neque explicabo tempora nisi culpa eius atque dignissimos.
            Molestias explicabo corporis voluptatem?
          </p>
        </div>
      </article>
      <article class="group scale-100 hover:scale-[1.1] ease-linear duration-100">
        <img alt="Lava"
          src="https://images.unsplash.com/photo-1631451095765-2c91616fc9e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
          class="h-56 w-full rounded-xl object-cover shadow-xl transition" />

        <div class="p-4">
          <a href="#">
            <h3 class="text-lg font-medium text-gray-900">
              Finding the Journey to Mordor
            </h3>
          </a>

          <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
            dolores, possimus pariatur animi temporibus nesciunt praesentium dolore
            sed nulla ipsum eveniet corporis quidem, mollitia itaque minus soluta,
            voluptates neque explicabo tempora nisi culpa eius atque dignissimos.
            Molestias explicabo corporis voluptatem?
          </p>
        </div>
      </article>
    </div>
    <a href="#" class="btn btn-outline btn-secondary mt-14">View All Projects</a>
  </div>
</section>

<section id="contact" class="">
  <div class="container mx-auto px-7 text-center py-10 ">
    <p class="text-2xl font-bold">Say Hi</p>
    <p class="text-md font-light mt-6 mb-20">Let's connect to explore opportunities for collaboration.</p>
    <div class="flex flex-row gap-10 items-center">
      <div class="w-full text-end">
        <p class="text-lg font-semibold mb-2">Let's connect!</p>
        <p class="text-md font-light">I'm always looking for new opportunities & happy to talk <br>or discuss relevant
          or off-topic stuff. Contact me to learn more.</p>
        <div class="flex flex-col gap-2 text-secondary mt-4">
          <a href="https://github.com/radenrishwan" class="text-md font-light">https://github.com/radenrishwan</a>
          <a href="https://www.instagram.com/radenrishwan"
            class="text-md font-light">https://www.instagram.com/radenrishwan/</a>
          <a href="mailto:radenrishwan@gmail.com" class="text-md font-light">radenrishwan@gmail.com</a>
        </div>
      </div>
      <div class="w-full flex h-full">
        <div class="stack bg-base-100 scale-100 hover:scale-[1.1] ease-linear duration-100">
          <img src="/img/hero-profile.png" alt="Image 1" class="rounded bg-secondary h-[300px]" />
          <img src="/img/hero-profile.png" alt="Image 2" class="rounded bg-secondary h-[300px]" />
          <img src="/img/hero-profile.png" alt="Image 3" class="rounded bg-secondary h-[300px]" />
        </div>
      </div>
    </div>
  </div>
</section>

{{template "partials/footer" .}}